<div id="controller">
  <%= f = form_for :controller, "#", [phx_change: :set_deg, id: "controller_form"] %>
    <%= range_input f, :deg, [class: "team#{@team}", min: 0, max: 360, step: 1] %>
  </form>
</div>
