<svg width="200" height="200">
  <rect x="0" y="0" width="200" height="200" style="fill:white;stroke:gray;stroke-width:1" />
  <circle cx="<%= @ball.x %>" cy="<%= @ball.y %>" r="25" fill="rgb(255,66,0)" />
  <!--<path d="M100 100 A 75 75 0 0 0 200 200" style="fill:none;stroke:red;stroke-width:15" />-->
</svg>
<%=
  # rgb(0,176,111)
  # rgb(255,66,0)
 %>
