<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>EyeBallPaul</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <iframe src="/eyeballpaul/observer"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <iframe src="/eyeballpaul/controller"></iframe>
    </div>
  </div>
</div>
