<svg width="400" height="400">
  <polygon points="50,0 75,100 50,75 25,100" style="fill:green;" phx-click="test" />

  <g stroke="red" fill="none" stroke-width="40" stroke-linecap="round">
     <path d="M 0 90 A 150 150 0 0 1 270 90" />
  </g>

  <circle cx="170" cy="200" r="25" fill="red" />
</svg>
