#controller-deg {
  & {
    width: 100%;
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10vh;
    cursor: pointer;
    background: rgb(45, 47, 49);
  }

  &::-webkit-slider-thumb {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5vh;
  }

  &.team1::-webkit-slider-thumb {
    background: rgb(0, 176, 111);
  }
  &.team2::-webkit-slider-thumb {
    background: rgb(255, 66, 0);
  }

  &:focus::-webkit-slider-runnable-track {
    background: rgb(45, 47, 49);
  }

  &::-moz-range-track {
    width: 100%;
    height: 10vh;
    cursor: pointer;
    background: rgb(45, 47, 49);
  }

  &::-moz-range-thumb {
    height: 20vh;
    width: 20vh;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    cursor: pointer;
  }

  &.team1::-moz-range-thumb {
    background: rgb(0, 176, 111);
  }
  &.team2::-moz-range-thumb {
    background: rgb(255, 66, 0);
  }
}
